{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Eliminar nodo</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/nuevoNodo.css' %}" />
    </head>
    <body>
        <div class="form-container">
            <form method="POST" action="{% url 'eliminarnodo' %}">
                <h3>Nodo a eliminar</h3>
                <div class="checklist-container">
                    {% for punto in mundos %}
                    <label for="checklist-{{ punto }}">
                        <input
                            type="radio"
                            id="checklist-{{ punto }}"
                            name="checklist"
                            value="{{ punto }}" />
                        {{ punto }}
                    </label>
                    {% endfor %}
                </div>
                {% csrf_token %}
                <button type="submit" name="eliminarNodo">
                    <p>Eliminar nodo</p>
                </button>
            </form>
        </div>
    </body>
</html>
