{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
            rel="stylesheet" />

        <title>Multiverse of DS</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/grafo.css' %}" />
    </head>
    <body>
        <header>
            <a href="" class="logo">
                Multiverso
                <div>
                    <img
                        src="{% static 'images/LogoRickAndMorty.png' %}"
                        class="imgLogo" />
                </div>
            </a>
        </header>
        <section>
            <img src="{% static 'images/wallpaper.jpg' %}" class="planeta" />

            <h1 class="text">Multiverse of DS</h1>
            <script
                type="text/javascript"
                async
                src="https://tenor.com/embed.js"></script>
        </section>

        <div class="sect-2">
            <h2>Rick and Morty</h2>
            <p>
                En este multiverso se pueden visitar 36 mundos/dimensiones que
                han aparecido en Rick and Morty. Es posible viajar entre
                universos gracias a los botones que se encontrarán en la parte
                inferior de la página. Además, se podrá experimentar creando y
                eliminando universos (Pero cuidado con aquellos que sólo tienen
                una forma de llegar). El grafo del multiverso creado es el
                siguiente:
            </p>

            <div class="grafooo">
                <img src="{% url 'mostrar_grafo' %}" alt="Gráfico de ejemplo" />
                {% if nodos_creados %}
                <div style="border-collapse: collapse; height: 100%">
                    <table>
                        <thead>
                            <tr>
                                <th
                                    style="
                                        border: 1px solid #000;
                                        padding: 8px;
                                        text-align: left;
                                        color: #ffffff;
                                    ">
                                    Mundos Creados
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for valor in nodos_creados %}
                            <tr>
                                <td
                                    style="
                                        border: 1px solid #000;
                                        padding: 8px;
                                        text-align: left;
                                    ">
                                    <a
                                        href="nuevos_mundos"
                                        style="
                                            text-decoration: none;
                                            color: #ab2929;
                                        "
                                        >Visitar mundo {{ valor }}</a
                                    >
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>

            <div class="btn-container">
                <div class="btn-nodos">
                    <a href="nuevonodo/">
                        <button>
                            <span class="material-symbols-outlined">
                                add_circle
                                <p>Añadir nodo</p>
                            </span>
                        </button>
                    </a>
                </div>

                <form method="GET" action="{% url 'nivel1' %}">
                    <div class="btn-cambio">
                        {% csrf_token %}
                        <button type="submit" name="nivel1">
                            <span class="material-symbols-outlined">
                                arrow_forward
                                <p>Continuar</p>
                            </span>
                        </button>
                    </div>
                </form>

                <div class="btn-nodos">
                    <a href="eliminarnodo/">
                        <button type="submit" name="nivel1">
                            <span class="material-symbols-outlined">
                                delete
                                <p>Eliminar nodo</p>
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
