{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">

        <title>Multiverse of DS</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <a href="/?first=1" class="logo">
                Multiverso
                <div><img src="{% static 'images/LogoRickAndMorty.png' %}" class="imgLogo"></div>
            </a>
        </header>
        <section>
            <!--<img src="Recursos/cielito.jpg" id="cielito">-->

            <img
                src="{% static 'images/Venezulon7.jpg' %}"
                class="planeta" />
            <h2 class="text">Planeta Venezulon 7</h2>
            <script
                type="text/javascript"
                async
                src="https://tenor.com/embed.js"></script>
        </section>
        <div class="sect-2">
            <h2>Viaja a otros planetas</h2>
            <p>
                Venzenulon 7 es un planeta del sistema planetario Venzenulon . Orbita su estrella a una distancia que le permite sustentar vida y agua. Tiene una apariencia muy similar a Venzenulon 9 , pero no experimenta el frío nocturno extremo que se encuentra en Venzenulon 9.
El planeta está habitado por una raza de pájaros de color azul y amarillo y una gran raza de criaturas lanudas, una de las cuales recibió el nombre de Beebo . El planeta parece montañoso, con hierba cubriendo la mayoría de las superficies planas. Aquí también se pueden ver arbustos y árboles, aunque la población animal parece escasa.
            </p>
            <div class="grafooo">
                <img src="{% url 'mostrar_grafo' %}" alt="Gráfico de ejemplo" />
            </div>
            

            <form method="POST" action="{% url 'nivel1' %}">
                <div class="btn-cambio">
                    {% csrf_token %}
                    <button type="submit" name="boton_izquierda" value="izquierda">
                        <span class="material-symbols-outlined">
                            arrow_back
                            <p>Nodo izquierdo   </p>
                        </span>
                    </button>
                    <button type="submit" name="boton_derecha" value="derecha">
                        <span class="material-symbols-outlined">
                            arrow_forward
                            <p>Nodo derecho</p>
                        </span>
                    </button>
                </div>
            </form>
            </p>
        </div>
    </body>
</html>
