{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/nivel1.css' %}" />
    </head>
    <body>
        <header>
            <a href="/index" class="logo">Multiverso</a>
        </header>
        <section>
            <!--<img src="Recursos/cielito.jpg" id="cielito">-->

            <img src="{% static 'images/Glorfingr7.jpg' %}" class="planeta" />
            <h2 class="text">Planeta Glorfingr7</h2>
            <script
                type="text/javascript"
                async
                src="https://tenor.com/embed.js"></script>
        </section>
        <div class="sect-2">
            <h2>Viaja a otros planetas</h2>
            <p>
                El planeta alberga una variedad de criaturas peculiares. Los más
                destacados son los Wharborgarbors , apodados "monstruos
                testiculares"; y los Derberuses , que se asemejan a grandes
                perros de dos cabezas. El planeta también alberga los cristales
                Kalaxian , que cuando se inhalan producen un efecto similar al
                de una droga.
            </p>
        </div>

        <div class="imagen">
            <img src="{% url 'mostrar_grafo' %}" alt="Gráfico de ejemplo" />
        </div>

        <form method="POST" action="{% url 'nivel1' %}">
            <div class="btn-cambio">
                {% csrf_token %}
                <button type="submit" name="boton_izquierda" value="izquierda">
                    Botón Izquierda
                </button>
                <button type="submit" name="boton_derecha" value="derecha">
                    Botón Derecha
                </button>
            </div>
        </form>
    </body>
</html>
