
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Agregar nodo</title>
        \
        <link
            rel="stylesheet"
            type="text/css"
            href="nuevoNodo.css" />
    </head>
    <body>
        <div class="form-container">
            <form action="/submit">
                <label for="titulo">Título:</label><br>
                <input type="text" id="titulo" name="titulo"><br>
                <label for="descripcion">Descripción:</label><br>
                <textarea id="descripcion" name="descripcion"></textarea><br>
                <h3>Checklist:</h3>
                <div>
                  <ul style="list-style-type:none;">
                    ${Array.from({length: 36}, (_, i) => `
                      <li>
                        <input type="checkbox" id="elemento${i+1}" name="elemento${i+1}">
                        <label for="elemento${i+1}">Elemento ${i+1}</label>
                      </li>
                    `).join('')}
                  </ul>
                </div>
                <input type="submit" value="Enviar">
              </form>
        </div>
    </body>
</html>
