{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Agregar nodo</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/nuevonodo.css' %}" />
    </head>
    <body>
        <div class="form-container">
            <form method="POST" action="{% url 'nuevonodo' %}">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" />
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion"></textarea>
                <h3>Conexión izquierda:</h3>
                <div class="checklist-container">
                    {% for punto in mundos %}
                    <label for="checklist-izquierdo-{{ punto }}">
                        <input
                            type="radio"
                            id="checklist-izquierdo-{{ punto }}"
                            name="checklist_izquierdo"
                            value="{{ punto }}" />
                        {{ punto }}
                    </label>
                    {% endfor %}
                </div>

                <h3>Conexión derecha:</h3>
                <div class="checklist-container">
                    {% for punto in mundos %}
                    <label for="checklist-derecho-{{ punto }}">
                        <input
                            type="radio"
                            id="checklist-derecho-{{ punto }}"
                            name="checklist_derecho"
                            value="{{ punto }}" />
                        {{ punto }}
                    </label>
                    {% endfor %}
                </div>
                <div class="button-container">
                    {% csrf_token %}
                    <button type="submit" name="nuevoNodo">
                        <p>Crear nuevo nodo</p>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
